body {
    background: grey;
    padding: 0 auto;
    margin: 0 auto;
}

header {
    margin: 5px;
    background: url("header_background.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    
    border-radius: 30px;
    align-items: center;
    text-align: center;
}


img {
    width: 100px;
    padding: 20px 0px 20px 0px;
    border-radius: 50%;
} 

h1 {
    padding-bottom: 10px;
}
.main {
    text-align: center;
    background-color: white;
    border-radius: 30px;
    margin:1% 1% 0 1%;
    padding: 0.5% 0 0.1% 0;
}

h4 {
    border: 4px dashed skyblue;
    /* padding: 0.5% 0.5%; */
}
.about>h4 {
    margin: 0 45% 0 45%;
    padding: 0.5%;
}

p {
    padding: 0 2%;
}

q {
    padding-left: 70%;
}

.schedule>h4 {
    margin: 0 40%;
    padding: 0.5% 0 0.5% 1.6%;
}

table {
    width: 90%;
    font-size: 11pt;
}

table, th, td {
    margin: 10px 40px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

.skill>h4 {
    margin: 0 45%;
    padding: 0.5%;
}

.media>h4 {
    margin: 1% 45%;
    padding: 0.5%;
}

iframe {
    margin: 1% 27%;
}

.contact>h4 {
    margin: 1% 43%;
    padding: 0.5% 0 0.5% 2%;
}

form {
    margin-left: 15%;
}

input {
    width: 80%;
    background-color: rgb(201, 201, 201);
    border: 1px solid rgb(26, 25, 25);
    border-radius: 5px;
    color: rgb(26, 25, 25);
}

.submit {
    background-color: rgb(0, 160, 172); 
    width: 7%;
    margin: 0 38%;
    padding-left: 1%; 
    color: white; 
    cursor: pointer;
}

footer>h4 {
    margin: 0 45%;
    padding: 0.2% 0.3%;
}

.btn {
    margin: 1% 0 1% 37.5%;
}

button {
    cursor: pointer;
    border-radius: 10px;
}

@media only screen and (max-width: 850px){

    
    .about>h4 {
        margin: 1% 36%;
        padding: 1% 0 1% 3%;
    }

    p {
        padding: 0 20px;
    }

    q {
        padding-left: 40%;
    }

    .schedule>h4 {
        margin: 1% 25%;
        padding: 1% 0 1% 4%;
    }

    table, th, td {
        margin: 10px;
        padding: 0px;
        table-layout: fixed;
    }

    .skill>h4 {
        margin: 1% 36%;
        padding: 1% 0 1% 3.5%;
    }

    .media>h4 {
        margin: 1% 36%;
        padding: 1% 0 1% 3%;
    }

    iframe {
        margin: 2% 0 3% 21%;
        border-radius: 10px;
        width: 200px;
    }

    .contact>h4 {
        margin: 1% 36%;
        padding: 1% 0 1% 1.5%;
    }

    .submit {
        width: 20%;
        margin-left: 29%;
    }

    footer {
        padding-bottom: 100px;
        text-align: center;
    }
    footer>h4 {
        margin: 1% 36%;
        padding: 2px 6px;
    }

    .btn {
        margin: 3%;
    }

    button {
        border-radius: 30px;
        cursor: pointer;
    }
}